* {
  margin: 0;
  padding: 0;
}

 .header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 320px;
  padding-top: 45px;
  padding-bottom: 110px;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  background-color: #171b3d;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
}

.icon {
  width: 133px;
  height: 36px;
  fill: #ffffff;
}

.container {
  width: 100%;
  justify-content: center;
  display: flex;
  z-index: 2;
}

.title {
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 135px 42px 89px 20px; 
  font-size: 28px;
  line-height: 31px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'OpenSans Bold';
}

.second-title {
  text-align: left;
  margin: auto;
  padding-left: 45px;
}

.link {
  width: 95%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.links {
  background-color: #5e42b0;
  border-radius: 25px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  padding-bottom: 8px;
  padding-top: 3px;
  margin-bottom:14px;
}

.apple-icon {
  width: 20px;
  height: 24px;
  fill: #ffffff;
}

.apple {
  width: 83px;
  font-size: 8px;
  font-family: 'OpenSans';
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("OpenSans—Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url("OpenSans-Bold.woff") ;
  font-weight: bold;
  font-style: normal;
}

.downloads {
  width: 84px;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  padding-top: 6px;
}

.google-icon {
  width: 20px;
  height: 24px;
  fill: #ffffff;
}

.google {
  width: 83px;
  font-size: 6px;
  font-family: 'OpenSans';
}

.app {
  width: 83px;
  font-size: 6px;
  font-family: 'OpenSans Bold';
}

.title-class {
  width: 212px;
  margin-left: 20px;
  height: 207px;
}

.title-name {
  font-family: 'OpenSans Bold';
  color: #e7e7e7;
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 20px;
  text-align: center;
  margin: auto;
}

.atlets-block {
  height: 307px;
  position: relative;
}

.picture {
  width: 192px;
  height: 281px;
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 50%; 
  margin-left:-25%
}

.connection {
  width: 100%;
  padding-top:82px;
  padding-bottom:50px;
  background-color: #fafafa;
}

.connection-title {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.numbers {
  font-family: 'OpenSans Bold';
  font-size: 14px;
  width: 17px;
  height: 16px;
}

.numbers::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #5e42b0;
  display: block;
  margin: 0 auto;
  border-radius:25%;
}

.connection-name {
  width: 160px;
  color: #e7e7e7;
  font-family: 'OpenSans Bold';
  text-transform: uppercase;
  font-size: 23px;
  margin-left: 10px;
}

.connection-text {
  font-family: 'OpenSans';
  margin-top: 27px;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  margin-left: 20px;

} 

.collaboration {
  width: 100%;
  padding-bottom: 52px;
  background-color: #f5f4f9;
  
}

.collaboration-title {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.growth {
  width: 100%;
  padding-bottom: 52px;
  background-color: #5e42b0;
}

.numbers-second::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius:25%;
}

.numbers-second {
  font-family: 'OpenSans Bold';
  font-size: 14px;
  width: 17px;
  height: 16px;
}

.growth-text {
  font-family: 'OpenSans';
  color: #ffffff;
  margin-top: 27px;
  font-size: 15px;
  line-height: 18px;
  margin-left: 20px;
}

.picture-second {
  width: 302px;
  height: 248px;
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 50%; 
  margin-left:-25%
}

.players-block {
  max-width: 100%;
  height: 290px;
  position: relative;
}

.collaboration-title-second {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  padding-bottom: 57px;
}

.growth-third {
  width: 100%;
  padding-bottom: 52px;
  background-color: #090c35;
}

.growth-numbers {
  font-family: 'OpenSans Bold';
  font-size: 14px;
  width: 17px;
  height: 16px;
  color: #644bab;
}

.growth-numbers::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius:25%;
}

.main-foto {
  width: 100%;
  position: relative;
  z-index: 1;
}

.foto-number {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  margin-left: 20px;
  margin-bottom: 12px;
  justify-content: center;
}

.numbers-active {
  font-family: 'OpenSans';
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
}

.numbers-active::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #8f7bc8;
  display: block;
  margin: 0 auto;
  border-radius:25%;
}

.title-new {
  padding-top: 33px;
  padding-left: 20px;
  padding-bottom: 24px;
  color: #e7e7e7;
  font-size: 28px;
  font-family: 'OpenSans Bold';
  text-transform: uppercase;
}

.active-text {
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 20px;
  margin-left:20px;
  margin-bottom: 77px; 
}

.active-text-new {
  padding-left: 20px;
  padding-bottom: 78px;
}

.beactive {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
  padding-top: 100px;
}

.footer::after {
  content: "";
  background-color: #171b3d;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
}

.emblem {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.emblema {
  width: 72px;
  height: 74px;
  fill: #ffffff;
  margin-top: 12px; 
  margin-right: 6px;
  margin-bottom: 12px;
  margin-left: 6px;
}

.background {
  background-color: #7151ce;
  border-radius: 25%;
}

.download {
  height: 50px;
  margin-left: 20px;
  margin-bottom: 76px;
  z-index: 2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'OpenSans Bold';
  text-align: center;
}

.slogan {
  font-size: 14px;
  font-family: 'OpenSans Bold';
  text-transform: uppercase;
  z-index: 2;
  color: #9b8ec1;
}

.container-down {
  max-width: 100%;
  justify-content: center;
  display: flex;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}

.links-down {
  background-color: #5e42b0;
  border-radius: 25px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  color: #ffffff;
  padding-bottom: 8px;
  padding-top: 3px;
  margin-bottom:14px;
}

.numbers-title {
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  margin-left: 20px;
  position: absolute;
  margin-top: 293px;
  z-index: 2;
}

.square-numbers {
  display: flex;
  flex-direction: column;
  font-family: 'OpenSans Bold';
  font-size: 14px;
  width: 17px;
  height: 16px;
  color: #f5f6f7;
  margin: 0 auto;
  margin-top: 27px;
}

.square-numbers::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #8f7bc8;
  display: block;
  margin: 0 auto;
}

.photo {
  width:100%;
}
}
